WebContent/OrderWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:orderwebservice="http://www.seedymusic.club/orderwebservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.seedymusic.club/orderwebservice/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.seedymusic.club/orderwebservice/">
      <xsd:element name="getAccount">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="acountName" type="xsd:string" />
          	<xsd:element name="accountPassword" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAccountRequest">
    <wsdl:part element="orderwebservice:getAccount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAccountResponse">
    <wsdl:part element="orderwebservice:getAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NewWSDLFile">
    <wsdl:operation name="getAccount">
      <wsdl:input message="orderwebservice:getAccountRequest"/>
      <wsdl:output message="orderwebservice:getAccountResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="orderwebservice:NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAccount">
      <soap:operation soapAction="http://www.seedymusic.club/orderwebservice/getAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderWebService">
    <wsdl:port binding="orderwebservice:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
